!.keep
*.DS_Store
*.swp
/.bundle
/.env
/.foreman
/coverage/*
/db/*.sqlite3
/log/*
/public/system
/public/assets
/tags
/tmp/*


.idea

*.rbc
capybara-*.html
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html

config/initializers/secret_token.rb
config/secrets.yml
config/database.yml

/.bundle
/vendor/bundle

/vendor/assets/bower_components
*.bowerrc
bower.json
